################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/906f9356-e8be-4d37-ab0d-34502714724f.vsidx
