################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/906f9356-e8be-4d37-ab0d-34502714724f.vsidx
/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/6a15aae3-7b80-4f66-8aff-bc22b68b141c.vsidx
