################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/906f9356-e8be-4d37-ab0d-34502714724f.vsidx
/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/6a15aae3-7b80-4f66-8aff-bc22b68b141c.vsidx
/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/8edd9662-3170-461d-876f-725d67e7dcc1.vsidx
/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/5929502f-fad7-4d34-b5f8-594e17f56d47.vsidx
/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/7c0d8f70-1413-4974-b1f4-64ed6075c3a4.vsidx
/Batch Workflow/Batch Workflow - V19/.vs/Batch Workflow/FileContentIndex/26f5620d-7e22-43cb-a427-04863a1baa4d.vsidx
